<ul id="skiplinks">
  <li><a href="#maincontent" data-ol-hhaaas-click-handler="">Direct naar belangrijkste content</a></li>
  <li><a href="#mainnav" data-ol-has-click-handler="">Direct naar hoofdnavigatie</a></li>
</ul>

<header class="page-header">

  <div class="l-header-top">

    <div class="branding">
      <a href="index.php" class="branding__home-link{{ site_slogan ? ' branding--with-slogan' }}">
        <img src="/theme/{{ logo ? logo : 'logo.svg' }}" alt="{{ site_name }} Logo" class="branding__logo">

        <span class="branding__name">{{ site_name ? site_name : 'Gebruiker Centraal' }}</span>

        {% if site_slogan %}
          <span class="branding__slogan">{{ site_slogan }} </span>
        {% endif %}
      </a>
    </div>

    <div class="widget-area header-widget-area">

      <form tabindex="-1" id="zoeken" class="search-form" method="get" action="https://www.gebruikercentraal.nl/"
            role="search">

        <label class="search-form-label screen-reader-text" for="searchform-1">Voer een trefwoord in om te zoeken op de
          site</label>
        <input class="search-form-input" type="search" name="s" id="searchform-1" placeholder="Zoeken...">
        <input class="search-form-submit" type="submit" value="Zoek">

        <meta content="/index.php/?s={s}">
      </form>
    </div>

    <button type="button" aria-haspopup="true" aria-controls="menu-primary" aria-expanded="false"
            aria-label="Open menu" class="btn btn--toggle-menu">
      <span class="btn__icon" role="img">&nbsp;</span>
      <span class="btn__text">Menu</span>
    </button>
  </div>

  <div class="l-header-nav" aria-hidden="true">

    {% if theme == 'od' %}

      {% set menu_items = {
        '1': {
          'title': 'Home','url': '/sites/od/index.php',
          'sub': {
            '1': {
              'title': 'Event detail','url': 'event.php'
            }
          }
        },
        '2': {
          'title': 'Het spel',
          'url': 'landing.php',
          'sub': {
            '1': {'title': 'Wat is het?','url': 'page.php',},
            '2': {'title': 'Achtergrond',},
            '3': {'title': 'Handleiding','url': 'handleiding.php',},
            '4': {'title': 'Spelbegrippen','url': '#',},
            '5': {'title': 'Bestellen',},
            '6': {'title': 'Print & play',}
          }
        },
        '3': {
          'title': 'Tips',
          'url': 'tips.php',
          'sub': {
            '1': {'title': 'Alle tips','url': 'overview-tips.php'},
            '2': {'title': 'Tipgevers','url': 'overview-tipgevers.php',},
            '3': {'title': 'Inclusieset','url': 'page-set.php',},
          }
        },
        '4': {
          'title': 'Voor spelleiders', 'url': 'spelleiders.php',
          'sub': {
            '1': {'title': 'Tips voor spelleiders'},
            '2': {'title': 'Word zelf spelleider','url': 'word-spelleider.php',
            }
          }
        },
        '5': {'title': 'Workshops',},
        '6': {'title': 'Blog','url': 'blog-od.php',},
        '7': {'title': 'Agenda','url': 'overview-events.php',},
        '8': {'title': 'Contact','url': '#'}
      } %}

    {% elseif theme == 'nlds' %}

      {% set menu_items = {
        '1': {
          'url': 'index.php',
          'title': 'Wat is het?',
          'sub': {
            '1': { 'url': '#', 'title': 'Wanneer zet ik het in?'}
          }
        },
        '2': {
          'url': '#',
          'title': 'Voor wie?',
          'sub': {
            '1': { 'url': '#', 'title': 'Wie doen er mee?'}
          }
        },
        '3': {'url': '#','title': 'Kwaliteit en testen'},
        '4': {'url': '#','title': 'Kalender'},
        '5': {'url': '#','title': 'Actueel'},
      } %}

    {% else %}

      {% set menu_items = {
        '1': {
          'title': 'Home',
        },
        '2': {
          'title': 'Blogs', 'url': 'overview-blogs.php'
        },
        '3': {
          'title': 'Evenementen', 'url': 'overview-events.php'
        },
        '4': {
          'title': 'Instrumenten',
          'url': '#',
          'sub': {
            '1': {'title': 'Ontwerpprincipes'},
            '2': {'title': 'Manifest'},
            '3': {'title': 'Kennisbank Beeldtaal'},
            '4': {'title': 'Optimaal Digitaal'},
            '5': {'url': '/sites/nlds','title': 'NL Design System'},
            '6': {'url': '#', 'title': 'Manifest'},
          }
        },
        '5': {'url':'#','title': 'Contact'},
        '6': {
          'url':'#',
          'title': 'Homepages',
          'sub': {
            '1': {'url': 'index.php','title': 'Homepage (GC)'},
            '2': {'url': 'home-stappenplan.php','title': 'Met stepchart (Inclusie)'},
            '3': {'url': 'home-beeldbank.php','title': 'Met stepchart (Beeldbank)'},
            '4': {'url': '/sites/od/index.php','title': 'Optimaal Digitaal'},
            '5': {'url': '/sites/nlds/index.php','title': 'NL Design System'},
          }
        },
        '7': {
          'url':'#',
          'title': 'Templates',
          'sub': {
            '1': {'url': 'page.php','title': 'Regular page'},
            '2': {'url': 'blog.php','title': 'Blog page'},
            '3': {'url': 'blog-hero.php','title': 'Blog page met hero'},
            '4': {'url': 'event.php','title': 'Event single'},
            '5': {'url': 'step-single.php','title': 'Step single (Beeldbank)'},
            '6': {'url': 'step-single-inc.php','title': 'Step single (Inclusie)'},
            '7': {'url': 'author.php','title': 'Auteur'},
          }
        },
        '8': {
          'url':'#',
          'title': 'Overviews',
          'sub': {
            '1': {'url': 'overview.php','title': 'Instrumenten'},
            '2': {'url': 'overview-blogs.php','title': 'Blogs, spotlight'},
            '3': {'url': 'overview-events.php','title': 'Evenementen'},
            '4': {'url': 'overview-doelgroep.php','title': 'Doelgroep, inclusie'},
            '5': {'url': 'overview-brieven.php','title': 'Brieven beeldbank'},
          }
        },
      } %}

    {% endif %}

    {% include 'includes/menu.html.twig' with {
      'menu_items': menu_items
    } %}
  </div>

</header>