{% if id is empty %}
  {% set id = '1' %}
{% endif %}

<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page page--type-landing site-id-{{ id }}{{ modifier }}">

<div class="site-container">

  {% include 'includes/header.html.twig' %}

  {% if breadcrumb is empty %}
    {% set breadcrumb = {
      'page_title': 'Instrumenten',
      'links': ['Home']
    } %}
  {% endif %}

  {% include 'includes/breadcrumb.html.twig' with {
    'page_title': breadcrumb.page_title,
    'links': breadcrumb.links
  } %}


  <div class="page-content" id="maincontent" tabindex="-1">

    <main class="content">

      <article class="entry entry--type-landing entry--full">

        <div class="entry-content">

          <div class="page__intro">
            <header class="entry-header">
              <h1 class="entry-title">{{ title ? title : 'Onze instrumenten' }}</h1>

              {% if intro %}
                <p>{{ intro }}</p>
              {% endif %}
            </header>

            {% if body %}
              {# default body body #}

              <div class="entry-body">
                {{ body|raw }}
              </div>

              {# end body #}
            {% endif %}

          </div>

          {# landingpages for optimaal digitaal#}

          {% if theme == 'od' %}

            {% if page is empty %}

              {% set text %}
                <p>Het Optimaal Digitaal spel is een workshop in spelvorm. Je speelt het met je team of met betrokkenen
                  bij een project. Spelenderwijs wordt scherp waar jullie op gaan focussen om je (digitale)
                  dienstverlening te verbeteren. Het spel wordt gespeeld met kaarten van de tips van Optimaal Digitaal.
                  Daarmee gaan jullie ongeveer twee uur aan de slag. De ervaring is dat er verrassend snel wordt
                  doorgedrongen tot de kern. Op een prettige, actieve en positieve manier.</p>

                <p>Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van
                  je
                  (digitale) dienstverlening start dus meteen. De bijvangst is een beter inzicht in wat je collega
                  belangrijk vindt en de bereidheid elkaar te helpen.</p>
              {% endset %}

              {% include 'blocks/text.html.twig' with {
                'title': 'Verbeter spelenderwijs je (digitale) dienstverlening',
                'section_text' : text
              } %}

              {% include 'sections/section-pictures.html.twig' %}

              {% set text %}
                <p>Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van
                  je (digitale) dienstverlening start dus meteen. De bijvangst is een beter inzicht in wat je collega
                  belangrijk vindt en de bereidheid elkaar te helpen.</p>

                <a href="#" class="btn btn--primary">Bekijk de handleiding</a>
              {% endset %}

              {% include 'blocks/text.html.twig' with {
                'title': 'Hoe kan je het spelen?',
                'section_text' : text
              } %}

              {% set cards = {
                '1': {
                  'title': 'Over het spel',
                  'descr': 'Wat is het spel eigenlijk, en hoe is het ontstaan? Wat levert het op als je het speelt? Lees er alles over.',
                },
                '2': {
                  'title': 'De handleiding',
                  'descr': 'Met de handleiding loop je stap voor stap het hele spel door. Je eindigt met een aantal concrete acties mét eigenaar.',
                  'url': 'handleiding.php',
                }
              } %}

              {% include 'sections/section-related.html.twig' with {
                'items': cards,
                'modifier': 'bg-option'
              } %}

              {# endif od #}

              {# set body for landingpage "word spelleider" #}
            {% elseif page == 'spelleider' %}

              {# section text 1 #}

              {% set text %}

                <p>Je kan ook ons vragen of we het spel willen begeleiden of één van de gecertificeerde spelleiders die
                  op de website staan. In een Spelleider sessie maak je als deelnemer kennis met het spel en leer je
                  ondertussen de do’s en don’ts in de rol van spelleider. We gaan vol overgave en met veel plezier twee
                  uur aan de slag met het spel, waarbij tussendoor steeds aandacht is voor de eigen ervaring. Daarbij
                  worden tips en tricks gegeven hoe je het resultaat positief kunt beïnvloeden. Na afloop ontvangen alle
                  deelnemers het Certificaat Spelleider Optimaal Digitaal.</p>

                <h2>Train-de-Trainer</h2>

                <p>In een Train-de-trainer Spelleider cursus maken de deelnemers kennis met het spel en leren
                  ondertussen de do’s en don’ts in de rol van spelleider. We gaan vol overgave en met veel plezier twee
                  uur aan de slag met het spel, waarbij tussendoor steeds aandacht is voor de eigen ervaring. Daarbij
                  worden tips en tricks gegeven hoe je het resultaat positief kunt beïnvloeden. Na afloop ontvangen alle
                  deelnemers het Certificaat Spelleider Optimaal Digitaal.</p>

                <a href="#" class="btn btn--primary">Word zelf een spelleider</a>

              {% endset %}

              {% include 'blocks/text.html.twig' with {
                'title': '',
                'section_text' : text
              } %}

              {% set cards = {
                '1': {
                  'title': 'Tips voor spelleiders',
                  'descr': 'In een Spelleider sessie maak je als deelnemer kennis met het spel en leer je ondertussen de do’s en don’ts in de rol van spelleider.',
                  'img': 'img-16-9.jpg'
                },
                '2': {
                  'title': 'Alle spelleiders',
                  'descr': 'Met de handleiding loop je stap voor stap het hele spel door. Je eindigt met een aantal concrete acties mét eigenaar.',
                  'url': 'handleiding.php',
                  'img': 'img-16-9-od.jpg'
                }
              } %}

              {% include 'sections/section-related.html.twig' with {
                'items': cards,
                'modifier': 'bg-option'
              } %}
              {# end od spelleider page #}
            {% endif %}

            {# end if theme = od #}
          {% endif %}
        </div>

      </article>
    </main>

    {% if spotlight %}

      {% if theme == 'od' %}

        {% if page is empty %}

          {% set spotlight_item = {
            '1': {
              'title': 'Ook het spel spelen?',
              'descr': 'Met het spel wordt verassend snel doorgedrongen tot de kern. Het spel eindigt met concrete acties die de volgende dag kunnen worden opgepakt. Het verbeteren van je (digitale) dienstverlening start dus meteen.',
              'img': 'img-16-9-od.jpg',
              'cta': {
                '1': {
                  'title': 'Bestellen'
                },
                '2': {
                  'title': 'Print & play',
                }
              }
            }
          } %}

          {% include 'sections/section-spotlight.html.twig' with {
            'items': spotlight_item,
            'modifier': 'bg-option'
          } %}

        {% elseif page == 'spelleider' %}

          {# data from spelleider.php #}
          {% include 'sections/section-spotlight.html.twig' with {
            'items': spotlight,
            'modifier': 'bg-option'
          } %}

        {% endif %}

      {% endif %}

    {% endif %}

  </div>

  {% include 'includes/footer.html.twig' %}
</div>