<div class="comment__author vcard">
  <cite class="fn">{{ author }}</cite>
  <span class="says">schreef:</span>
</div>

<div class="comment__content">
  {{ descr }}
</div>

<footer class="comment__footer">
  <time datetime="{{ date }}">{{ date }}</time>

  <a rel="nofollow" class="link link--reply" href="#" data-commentid="#" data-postid="#"
      data-belowelement="#" data-respondelement="respond"
      aria-label="Antwoord {{ author }}">Beantwoorden</a>
</footer>

